.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(197, 192, 245);
}
  