.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  border: 1px solid rgb(154, 145, 240);
  border-radius: 4px;
  background-color: rgb(197, 192, 245);
}

.task-list {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
}

.task-text {
  flex: 1;
  margin-right: 10px;
  border: 1px solid rgb(154, 145, 240);
  border-radius: 8px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px; 
  background-color: white;

  .done {
    text-decoration: line-through;
    color: gray;
  }

  .btn {
    margin-left: auto;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 4px;

    i {
      margin-right: 5px;
    }

    &.supprime {
      background-color: red;
  
      &:hover {
        background-color: darkred;
      }
    }
  
    &.edit, &.annule {
      background-color: #0056b3;
  
      &:hover {
        background-color: #004494; 
      }
    }
    
  }
}

input[type='checkbox'] {
  margin-right: 10px;
}

input[type='text'] {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
}

