<div class="container my-4">
  <div class="task-list">
    <div>
      <input [(ngModel)]="nouvelleTache" placeholder="Ajouter une tâche.." class="task-text" />
      <button class="btn my-4" (click)="onClicAjouterTache()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    @if (taches.length > 0) {
      <ul>
        @for (tache of taches; track $index; let indexTache = $index) {
          <li>
            <input type="checkbox" [(ngModel)]="tache.done" (click)="onClicTacheChange(indexTache)" />
            @if (tache.isEditing) {
              <input [(ngModel)]="tache.nom" (blur)="onSaveEdit(indexTache, tache.nom)" />
              <button class="btn annule" (click)="onCancelEdit(indexTache)">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            } @else {
              <span>{{ tache.nom }}</span>
              <button class="btn edit" (click)="onClicEditTache(indexTache)">Edit</button>
            }
            <button class="btn supprime ms-2" (click)="onClicSupprimerTache(indexTache)">
              <i class="fas fa-trash-alt mx-1"></i> 
            </button>            
          </li>
        }
      </ul>
    } @else {
      <p>Aucune tâche</p>
    }
  </div>
</div>


<!-- cdn font-awesom type All ajouter à index.html -->